#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

header h1 span {
  color: #5758BB;

}

header ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  gap: 10px;
  margin: 0px;
  height: 100%;
  align-items: center;
}

.side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

@media (max-width:600px) {
  .container {
    flex-direction: column;
  }
}

.side:first-child {
  border-right: 1px solid #f5f6fa;
}

.page-header {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  background-color: #f5f6fa;
  width: 100%;
  padding: 10px 0px;
  font-weight: 500;
}

.page-content {
  padding: 10px;
}


.page-turn {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}


textarea {
  height: 120px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  resize: none;
}


textarea:focus {
  outline-color: #5758BB;
}