* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #574b90;
  --color-background: var(--color-primary);
  --color-foreground: white;
  --color-text: black;
  --color-foreground-muted: #f5f6fa;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-background);
  margin: 0 auto;
  padding: 2rem;
  color: var(--color-text);
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  main {
    --color-background: #1e2124;
    --color-foreground: #36393e;
    --color-text: white;
    --color-foreground-muted: #424549;
  }
}